<div class="container">
  <a href="/auditorium/new">Create new Auditorium</a><br />
  <a href="/showing/new">Create new showing</a><br />
  <a href="/sales">View sales</a><br />
  <a href="/movies/new">create new movie</a>

</div>