// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@media (min-width:600px) {
   .image {
    width: 100%;
    height: auto;
   }
}

.img-responsive {
  width: 215px;
  height: 312px;
}

.well{ 
    width: 255px;
    height: 410px;
}

#layout {
  background-color: gray;
  text-align: center;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  background-image: image_url('wood_pattern.png');
}

.well {
  background-color: black;
}

#title, #layout, h1, h2, h3, h4 {
  font-family: copperplate;
}

.description {
  color: white;
  background-color: gray;
}

input {
  max-width: 70%;
} 
