// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@media (min-width:600px) {
   .image {
    width: 100%;
    height: auto;
   }
}

#layout {
  background-color: gray;
  text-align: center;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  background-image: image_url('wood_pattern.png');
}